:root {
    --background-color: #232e3c;
    --card-background-color: #17212b;
    --button-background-color: #232e3c;
    --text-color: #ffffff;
    --highlight-color: #007aff;
    --close-button-color: #ff3b30;
    --invite-text-color: #ffffff;
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}

.app-container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.close-btn {
    background: linear-gradient(45deg, #ff4081, #7c4dff);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.app-name {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: var(--card-background-color);
    color: var(--text-color);
}

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

.nav-btn {
    background: var(--highlight-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: transform 0.2s;
}

.nav-btn:hover {
    transform: scale(1.05);
}

.tabs-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    margin-bottom: 15px;
    -ms-overflow-style: none;  /* для IE и Edge */
    scrollbar-width: none;  /* для Firefox */
}

.tabs-container::-webkit-scrollbar {
    display: none; /* для Chrome, Safari и Opera */
}

.tabs {
    display: inline-flex;
}

.tab-button {
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
    transition: transform 0.2s;
    white-space: nowrap;
}

.tab-button:hover {
    transform: scale(1.05);
}

.tab-button.active {
    background-color: var(--highlight-color);
}

.slider-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.story-item {
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background: var(--card-background-color);
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.story-item-title {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    font-size: 9px;
    font-family: var(--title-font-family);
    color: var(--invite-text-color);
    background: transparent;
    padding: 2px 5px;
    font-weight: 700;
    text-align: left;
}

.top-section, .bottom-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.points-section, .invite-section, .bottom-section .action-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--card-background-color);
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: var(--text-color);
}

.points-section {
    background: linear-gradient(45deg, #ff4081, #7c4dff);
}

.points-title, .invite-title, .action-btn {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.points-value, .invite-text, .action-btn span {
    font-size: 14px;
}

.action-btn {
    background: #007aff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: transform 0.2s;
    text-align: center;
}

.select-order-btn {
    background: #007aff;
}

.calculate-cost-btn {
    background: #333;
}

.action-btn:hover {
    transform: scale(1.05);
}

.arrow {
    font-size: 20px;
    transition: transform 0.2s;
}

.points-value::before {
    content: '₽';
    font-size: 24px;
    margin-right: 5px;
}

.invite-section {
    background: var(--card-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.invite-title {
    color: var(--invite-text-color);
    font-size: 18px;
}

.invite-text {
    color: var(--invite-text-color);
    font-size: 14px;
    text-align: center;
}

.catalog {
    padding: 20px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.item {
    background: var(--card-background-color);
    border: 1px solid #444;
    border-radius: 10px;
    flex: 1 1 calc(45% - 10px); /* Уменьшена ширина карточек */
    max-width: calc(45% - 10px); /* Ограничение ширины карточек */
    padding: 8px; /* Уменьшены отступы внутри карточек */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    color: var(--text-color);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 8px; /* Уменьшен отступ снизу */
    object-fit: cover;
}

.item button {
    background: var(--button-background-color);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: transform 0.2s;
}

.item button:hover {
    transform: scale(1.05);
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: var(--card-background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    text-align: center;
    color: var(--text-color);
}

.close-modal-btn {
    color: var(--close-button-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    color: var(--highlight-color);
}

.modal-tab-button {
    background: var(--button-background-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 100%;
}

.modal-tab-button:hover {
    background: var(--highlight-color);
}

/* Дополнительные стили для адаптивности */
@media (max-width: 600px) {
    .item {
        flex: 1 1 calc(50% - 10px); /* Две колонки на экранах до 600px */
    }

    .btn {
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .item {
        flex: 1 1 calc(33.33% - 10px); /* Три колонки на экранах от 601px до 900px */
    }

    .btn {
        font-size: 13px;
    }
}

@media (min-width: 901px) {
    .item {
        flex: 1 1 calc(25% - 10px); /* Четыре колонки на экранах от 901px и выше */
    }

    .btn {
        font-size: 14px;
    }
}

.hidden {
    display: none;
}

.order-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--card-background-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.order-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--close-button-color);
    background: #444;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.order-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-img {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.buy-btn {
    background: #34c759;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: transform 0.2s;
}

.buy-btn:hover {
    transform: scale(1.05);
}        

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    background: rgba(23, 33, 43, 0.9);  /* Полупрозрачный фон */
    border: 1px solid #ddd;
    border-top: none;
    position: absolute;
    width: 80%;  /* Уменьшена ширина списка */
    max-height: 200px;  /* Ограничение высоты списка */
    overflow-y: auto;  /* Добавляем прокрутку, если список длинный */
    z-index: 10;
    left: 10%;
    border-radius: 5px;  /* Округленные углы */
}

.autocomplete-list li {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-list li:hover {
    background-color: rgba(0, 122, 255, 0.8);  /* Полупрозрачный цвет при наведении */
    color: var(--text-color);
}
